img {
    max-width:100%;
}
h1 {
    font-size:6vmin;
    text-align:center;
}
.productssection{
    text-align:center;
}
.productdetails{
    text-align:center;
}
.buybutton{
    text-align:center;
}
.bordercolor{
}
